.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #f1f5f9;

    .main-login {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: #f1f5f9;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f1f5f9;
    }

    .auth-content {
        width: 30rem;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-title {
            font-family: inherit;
            line-height: inherit;
            text-transform: unset;
            text-rendering: optimizeLegibility;
        }

        .link {
            color: #1677ff;

            &:hover {
                cursor: pointer;
            }
        }
    }

}