@inputNumberPrefixCls: rc-input-number;

.@{inputNumberPrefixCls} {
    display: inline-block;
    height: 26px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 26px;
    vertical-align: middle;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;

    &-focused {
        border-color: #1890ff;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }

    &-out-of-range {
        input {
            color: red;
        }
    }

    &-handler {
        display: block;
        height: 12px;
        overflow: hidden;
        line-height: 12px;
        text-align: center;
        touch-action: none;

        &-active {
            background: #ddd;
        }
    }

    &-handler-up-inner,
    &-handler-down-inner {
        color: #666666;
        -webkit-user-select: none;
        user-select: none;
    }

    &:hover {
        border-color: #1890ff;

        .@{inputNumberPrefixCls}-handler-up,
        .@{inputNumberPrefixCls}-handler-wrap {
            border-color: #1890ff;
        }
    }

    &-disabled:hover {
        border-color: #d9d9d9;

        .@{inputNumberPrefixCls}-handler-up,
        .@{inputNumberPrefixCls}-handler-wrap {
            border-color: #d9d9d9;
        }
    }

    &-input-wrap {
        height: 100%;
        overflow: hidden;
    }

    &-input {
        width: 100%;
        height: 100%;
        padding: 0;
        color: #666666;
        line-height: 26px;
        text-align: center;
        border: 0;
        border-radius: 4px;
        outline: 0;
        transition: all 0.3s ease;
        transition: all 0.3s;
        -moz-appearance: textfield;
    }

    &-handler-wrap {
        float: right;
        width: 20px;
        height: 100%;
        border-left: 1px solid #d9d9d9;
        transition: all 0.3s;
    }

    &-handler-up {
        padding-top: 1px;
        border-bottom: 1px solid #d9d9d9;
        transition: all 0.3s;

        &-inner {
            &:after {
                content: '+';
            }
        }
    }

    &-handler-down {
        transition: all 0.3s;

        &-inner {
            &:after {
                content: '-';
            }
        }
    }

    .handler-disabled() {
        opacity: 0.3;

        &:hover {
            color: #999;
            border-color: #d9d9d9;
        }
    }

    &-handler-down-disabled,
    &-handler-up-disabled {
        .handler-disabled();
    }

    &-disabled {
        .@{inputNumberPrefixCls}-input {
            background-color: #f3f3f3;
            cursor: not-allowed;
            opacity: 0.72;
        }

        .@{inputNumberPrefixCls}-handler {
            .handler-disabled();
        }
    }
}