.ql-editor {
    min-height: 350px !important;
    overflow: hidden;
}

.modal-action {
    &.close {
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all .1s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }
}

.modal-action-root {
    &.close {
        .ant-modal-mask {
            background-color: unset !important;
            // -webkit-transition: background-color 0.3s ease-in;
            // /* Safari */
            // transition: background-color 0s linear;
            // -webkit-transition-delay: 0.3s;
            // /* Safari */
            // transition-delay: 0.2s;
        }
    }
}

.react-multiple-carousel__arrow--left {
    left: "none" !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 900px) {
    .css-ur2jdm-MuiContainer-root {
        padding: 0 !important;
    }
}

.css-qjgzmg-MuiSvgIcon-root {
    padding: 0 !important;
}


.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    height: 100vh;
}